<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title>About</title>
</head>
<header>
    <h1 class="title" >PAYTIME</h1>

<div class="nav">
    <a href="/payments">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>

</header>
<body>
    <main class="main-content">
        <div>
            <img src="./public/img/profile.jpg" alt="profile" class="about">
        </div>
         <h3>This site is created by Shreya Maheshwari. It is a Payment Gateway Integration Website. It is made with using Node.js and Razorpay.
         </h3>

     </main>
  
    </body>

<footer>
    <p>Created by Shreya Maheshwari</p>
</footer>