<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title>Error</title>
</head>
<header>
    <h1 class="title" >PAYTIME</h1>

<div style="margin-left: 200px;">
    <a href="/payments">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>

</header>

<body> 
    <div>
        <h2>Page Not Found </h2>
        </div>
  
</body>

<footer>
    <p>Created by Shreya Maheshwari</p>
    </footer>