<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title>Help</title>
</head>

<header>
    <h1 class="title" >PAYTIME</h1>

<div style="margin-left: 200px;">  
     <a href="/payments">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>

</header>
<body>
    <main class="main-content">
         <p style="font-size: 30px; font-style: bold;">How to use it?</p>
         <ul>
            <li>There is a simple create order button on homepage. Click on that button to create order.</li>
            <li>After that , it will automatially generate your order id. Click on checkout button for landing on payment page.</li>
            <li>User can select the amount to be paid and and the payment type i.e; credit card, UPI id ,etc. </li>
            <li>After paying the amount. You will get your verification details. Click verfiy to verfiy your order details.</li>
          </ul>

     </main>
  
    </body>

<footer>
    <p>Created by Shreya Maheshwari</p>
    </footer>